:root{
    --var-sidebar-width: 15vw;
    --todo-padding-top: 60px;
}
.nav-link{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}
.nav-link li.nav-item{
  margin: 5px;
}

.sidebar{
    width: var(--var-sidebar-width);
    padding-top: var(--todo-padding-top);
    height: 90vh;

}
.sidebar li{
    list-style: none;
    text-align: left;
}
.main-container{
    padding-top: var(--todo-padding-top);
    width: 85vw;
    display: flex;
}
.main-container button{
    margin: 0 5px;
    height: 40px;
}
.footer{
    background-color: darkmagenta;
}
.footer ul{
    display: flex;
}
.footer li{
    list-style: none;
    text-align: left;
    margin: 0 5px;
}
.content{
    flex-grow: 1;
}
.rightsidebar{
}
.right-nav{
    margin-right: 10px;
    float: right;
    li{
        list-style: none;
        margin: 5px;
    }
}
.nav-menu{
    display: flex;
}